.question {
    color: white;
    background-color: black;
    height: 14vh;
    padding: 2vh;
    font-size: 7vh;
    font-family: "sans-serif";
}
.answer {
    color: white;
    background-color: rgb(64, 64, 64);
    height: 13vh;
    padding: 2vh;
    font-size: 7vh;
    font-family: "sans-serif";
}
.score {
    color: white;
    background-color: black;
    height: 5vh;
    padding: 1vh;
    font-size: 5vh;
    font-family: "sans-serif";
}
