.question {
    color: white;
    background-color: black;
    height: 56pt;
    padding: 8pt;
    font-size: 28pt;
    font-family: "sans-serif";
}
.answer {
    color: white;
    background-color: rgb(64, 64, 64);
    height: 52pt;
    padding: 8pt;
    font-size: 28pt;
    font-family: "sans-serif";
}
.entry {
    color: white;
    background-color: rgb(64, 64, 64);
    height: 232pt;
    padding: 8pt;
    font-size: 28pt;
    font-family: "sans-serif";
}
.score {
    color: white;
    background-color: black;
    height: 20pt;
    padding: 4pt;
    font-size: 20pt;
    font-family: "sans-serif";
}

input[type='text'], textarea {font-size: 14pt;}
